html, body, div {
    box-sizing: border-box;
    padding: 0;
}

h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

div, span, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.content {
    flex: 1;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #1B4332;
    color: #E9EED9;
    padding: 10px 20px 0 20px;
}

.brandName {
    color: #E9EED9;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 40px;
    font-weight: 400;
    gap: 10px;
}

.navLinks {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

.navLinks a {
    text-decoration: none;
    color: #E9EED9;
    font-size: 24px;
}

.navLinks a:hover {
    color: #FFB703;
}

.allLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 15px;
    margin-right: 15px;
}

footer {
    width: 100%;
    background-color: #1B4332;
    color: #E9EED9;
    font-size: 24px;
    font-weight: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

footer a {
    color: #E9EED9;
    text-decoration: underline;
}

footer a:hover {
    color: #FFB703;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    background: #E9EED9;
    padding: 50px;
}

.three-columns {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    gap: 30px;
    padding: 20px;
}

.column-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.two-columns {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    gap: 40px;
    margin: 40px;
}

button {
    background: #FFB703;
    border-radius: 10px;
    text-align: center;
    color: #081C15;
    border: none;
    font-size: 18px;
    width: 150px;
    height: 50px;
}

button:hover {
    background: #1B4332;
    border: 2px solid #E9EED9;
    color: #E9EED9;
}


@media (max-width: 768px) {
  .navbar {
    position: relative;
  }

  .nav-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
  }

  .nav-links {
    display: none;
  }

  /* Hamburger menu shows up on mobile or any small screen */
  .nav-links.hamburger {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 16px 0px;
    top: 100%;
    left: 0px;
    z-index: 999;
    background: #1B4332;
  }

  .circle {
    display: flex;
  }

  #toggleBar {
    display: block;
    cursor: pointer;
  }

  h2 {
    font-size: 1.8rem;
  }

  .columns {
    flex-direction: column;
  }

  .container h1 {
    width: 100%;
  }

  .container p {
    width: 100%;
  }


  .dropdownOptions {
    display: none;
  }

  .dropdownOptions {
    position: static;
    box-shadow: none;
    width: 100%;
    padding: 8px 0;
  }

  .dropdownOptions.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  h1 {
  font-size: 32px !important;
  }

  h2 {
    font-size: 24px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  p {
    font-size: 14px !important;
  }

}

@media (min-width: 769px) {
  .nav-links {
    display: flex;
  }

  #toggleBar {
    display: none;
  }

  .circle {
    display: none;
  }

  .dropdown:hover .dropdownOptions {
    display: flex;
    flex-direction: column;
    background-color: #1B4332;
    width: 120px;
    padding: 10px 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
  }
}